/* -------------------------------------------
Nom Complet: 	Renaud Van Meerbergen
------------------------------------------- */
                /*LET'S GO*/
/*-------------------------------------------- */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
    scroll-behavior: smooth;
    max-width: 2000px;
}
main {
    overflow: hidden;
}
p {
    font-size: 1em;
    line-height: 24px;
    word-wrap: break-word;
    hyphens: auto;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
    outline: none;
}
svg {
    width: 16px;
    height: 16px;
    fill: #218a53;
}
/*---------------- PAGE D'ACCUEIL ---------------*/
/*--------------- HEADER --------------*/
header {
    max-height: 100vh;
    background-color: #595959;
    position: relative;
}
/*------- SLIDER DE DEBUT -------*/
@keyframes slide {
  0%, 14% {
    transform: translateX(0);
  }
  28%, 42% {
    transform: translateX(-100%);
  }
  56%, 70% {
    transform: translateX(-200%);
  }
  85%, 100% {
    transform: translateX(-300%);
  }
}
section.monSlider {
    display: flex;
    min-height: 99vh;
    max-height: 100vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
}
.wrapper {
    display: flex;
    /*CSS3 keyframes animation*/
    animation: slide 20s infinite;
    animation-timing-function: ease-in-out;
}
.monSlider .wrapper img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: start;
}
.logo-text {
    position: absolute;
    top: 5vh;
    left: 10vw;
    font-size: 2em;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
}
.logo-text:after {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    height: 100%;
    width: 2px;
    background-color: #fff;
    transform: scaleY(1);
}
#photo-logo {
    position: absolute;
    bottom: 3vh;
    left: 5vw;
}
@media (min-width: 768px) {
    .logo-text {
        left: 5vw;
    }
}
/*--------------- MAIN --------------*/
.test {
    background-color: #29741b;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
    "tel tel tel mail mail mail"
    "fb fb ig ig in in";
}
.test li:nth-of-type(1) {
    grid-area: tel;
}
.test li:nth-of-type(2) {
    grid-area: mail;
}
.test li:nth-of-type(3) {
    grid-area: fb;
}
.test li:nth-of-type(4) {
    grid-area: ig;
}
.test li:nth-of-type(5) {
    grid-area: in;
}
.test li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}
.test a {
    display: block;
    color: white;
}
.test span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.25em;
}
.test svg {
    fill: whitesmoke;
    padding: 0.75em 0.5em 0.60em 0.75em;
}
.test svg:hover {
    fill: #218a53;
}
.test a:hover {
    color: #218a53;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 3px;
}
.test ul li img {
    max-width: 200px;
    position: absolute;
    margin-top: -150px;
}
@media (min-width: 768px) {
    .test {
        gap: 0;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "tel tel mail mail fb ig in";
        padding: 0.75em 3em;
    }
}
@media (min-width: 999px) {
    .test {
        padding: 0.75em 10em;
    }
}

/*---------- BLOG ------------*/
.blog {
    padding: 60px 1em 50px;
    background: rgb(247,247,247);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
}
.blog h2 {
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 1.75em;
}
.article-card {
    text-align: left;
    margin-top: 45px;
}
.article-card img {
    margin: 0 auto;
    width: 100%;
    max-height: 250px;
    border-radius: 6px;
    filter: grayscale(0%);
    transition: filter 0.3s ease-in-out;
}
.article-card img:hover {
    filter: grayscale(75%);
    transition: filter 0.3s ease-in-out;
}
.article-card h3 {
    margin: 25px 0 18px;
    font-size: 1.375em;
    line-height: 28px;
}
.article-donnee {
    border-top: 1px solid #5a60513b;
    border-bottom: 1px solid #5a60513b;
}
.article-card time, .article-card span {
    display: inline-block;
    color: rgb(66, 66, 66);
    padding: 7px 0;
    font-size: 0.875em;
}
.article-card time {
    margin-right: 18px;
}
.article-card i {
    margin-right: 5px;
    color: #29741b;
}
.article-card p {
    margin: 20px 0 25px;
}
.article-card .lire-plus {
    color: #29741b;
    padding: 0.5em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid #29741b;
}
.article-card .lire-plus:hover {
    border: 1px solid #29741b;
    background-color: #f7f7f7;
    border-radius: 3px;
}
@media all and (min-width: 500px) {
    .article-card img {
        max-height: 350px;
    }
}
@media all and (min-width: 750px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
    .article-card img {
        max-height: 325px;
    }
    .display-n {
        display: none;
    }
}
@media all and (min-width: 1000px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 0;
    }
    .article-card img {
        max-height: 300px;
    }
    .display-n {
        display: block;
    }
}
/*---------- FORMULAIRE ------------*/
.contact-formulaire {
    padding: 50px 40px;
    background-color: #4c596f;
    color: white;
    text-align: center;
}
#form h3 {
    color: white;
    font-size: 1.5em;
    line-height: 30px;
    margin-bottom: 10px;
}
#form h3+p {
    margin-bottom: 30px;
}
.contact-formulaire label {
    color: rgba(247, 247, 247, 0.65);
    margin-bottom: 2px;
    display: block;
}
#form div {
    margin-bottom: 10px;
}
#form input {
    margin-bottom: 15px;
    padding: 8px 12px;
    font-size: 1em;
    color: #595959;
    outline: 0;
    border: 1px solid #ececec;
    border-radius: 3px;
}
#form textarea {
    min-height: 100px;
    resize: none;
    color: #595959;
    box-shadow: 1px 1px 1px #999;
    border: 1px solid #ececec;
    border-radius: 3px;
    font-size: 0.925em;
}
#form input {
    text-align: center;
}
#form input, #form textarea {
    width: 80%;
    padding: 0.65em;
}
#form textarea:focus {
    outline: none;
    border: 1px solid red;
}
#form textarea:valid {
    border: 2px solid lime;
}
#form textarea::placeholder {
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: normal;
}
#form .btn {
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 0.92em;
    font-weight: normal;
    color: #484848;
    background-color: whitesmoke;
    border: 1px solid #ececec;
    border-radius: 5px;
}
#form .btn:hover {
    background-color: white;
    color: #475366;
    transform: scale(1.05);
}
#form .btn svg {
    fill: #576e98;
}
.map-contact {
    min-height: 100vh;
}
@media all and (min-width: 700px) {
    .contact {
        display: grid;
        grid-template-columns: 60vw 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas: ". .";
    }
    .map-contact {
        min-height: 50vh;
    }
    .contact-formulaire {
        padding: 50px 20px;
    }
}
@media all and (min-width: 999px) {
    .contact-formulaire {
        padding-top: 75px;
    }
    #form h3 {
        margin-bottom: 20px;
    }
    .contact {
        grid-template-columns: calc(98vw*9/12) 1fr;
    }
}
#map button {
    padding: 0.5em;
    margin: 1.2em;
}
@media all and (min-width: 100px) {
    #map button.ui-button {
        visibility: hidden;
    }
}
@media all and (min-width: 1000px) {
    #map button.ui-button {
        visibility: visible;
    }
}
/*---------- LE FOOTER du MAIN------------*/
.footer {
    padding: 50px 1em 25px;
    background-color: #F3F3F3;
    border-top: 1px solid #bfbfbf;
}
.footer h3 {
    font-size: 1.375em;
    line-height: 24px;
}
.footer-about p {
    margin: 25px 0 35px;
}
.social-link a {
    background-color: #29741b;
    margin-right: 8px;
    border-radius: 3px;
    display: inline-block;
}
.social-link a svg {
    fill: white;
    padding: 0.675em 1em;
}
.social-link a:hover {
    background-color: #384459;
}
.footer-services {
    margin-top: 50px;
}
.footer-services ul {
    margin: 25px 0 35px;
}
.footer-services li {
    margin-bottom: 8px;
}
.footer-services li a {
    text-decoration: none;
    color: #303745;
}
.footer-services li a:hover {
    border-bottom: 1px solid #303745;
    padding-bottom: 3px;
}
.footer-contact h3 {
    margin: 50px 0 25px;
}
.footer-contact p {
    position: relative;
    margin-bottom: 10px;
    padding-left: 28px;
}
.footer-contact p svg {
    fill: #29741b;
}
.footer-contact a {
    text-decoration: none;
    color: #303745;
}
.footer-contact a:hover {
    border-bottom: 1px solid #303745;
    padding-bottom: 3px;
}
.footer-contact svg {
    position: absolute;
    left: 0;
    top: 4px;
}
.footer-projets {
    margin: 50px 0 20px;
}
.footer-projets h3 {
    margin-bottom: 30px;
}
.footer-image-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
}
.footer-projets img {
    width: 100%;
    filter: grayscale(0%);
    transition: filter 0.3s;
}
.footer-projets img:hover {
    filter: grayscale(100%);
    border-radius: 5px;
    transition: .35s ease-in-out;
}
.footer-projets a {
    display: inline-block;
    overflow: hidden;
}
@media all and (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    .footer-about, .footer-services, .footer-contact {
        margin: 0;
        text-align: center;
    }
    .footer h3 {
        margin-top: 0;
    }
    .footer-projets {
        display: none;
    }
}
@media all and (min-width: 1000px) {
    .footer {
        margin: 0 auto;
        padding: 50px 2.5em 20px 3em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 0;
    }
    .footer-about, .footer-services, .footer-contact, .footer-projets {
        margin: 0;
        text-align: left;
    }
    .footer-projets {
        display: block;
    }
    .footer-contact h3 {
        margin: 0 0 25px;
    }
    .footer-about p {
        max-width: 250px;
    }
    .footer-services {
        padding-left: 30px;
    }
    .footer-image-link {
        text-align: left;
    }
}
/*---------- FIN MAIN ----------*/

/*---------- FOOTER ------------*/
footer {
    padding: 1.8em 1.5em 2em;
    text-align: center;
    background-color: #384459;
    color: whitesmoke;
    font-size: 0.875em;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
}
footer p:first-of-type {
    margin-bottom: 25px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}
/*----------- MENU ---------*/
.menuButton {
    position: fixed;
    top: 10px;
    right: 90px;
    z-index: 1000;
}
.toggler {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}
.hamburger {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #303745;
    background: #F3F3F3;
}
.hamburger:before {
    content: "MENU";
    font-size: 0.625em;
    margin-top: -30px;
}
.hamburger>div {
    position: absolute;
    top: 35px;
    width: 60%;
    height: 3px;
    border-radius: 2px;
    background-color: #29741b;
    transition: .5s;
}
.hamburger>div:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #29741b;
    top: -10px;
    left: 0;
    transition: .4s;
}
.toggler:checked + .hamburger>div {
    transform: rotate(135deg);
}
.toggler:checked:hover + .hamburger>div {
    transform: rotate(225deg);
}
.toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}
.menu-wrapper {
    z-index: 999;
    position: fixed;
    clip-path: circle(25px at calc(100% - 25px) 25px);
    background: rgb(129, 133, 142);
    padding: 1.5em;
    transition: clip-path 500ms ease-in-out;
    right: 25px;
    top: 25px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border-radius: 25px;
}
.menu-wrapper.active {
    clip-path: circle(100%);
}

.menu-wrapper .menu {
    text-align: center;
    height: 85vh;
    width: 100%;
    transition: all 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu > div > div > ul > li {
    list-style: none;
    padding: 5px;
}
.menu > div > div > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 1em 2.5em;
    font-size: 1em;
    display: block;
}
.menu > div > div > ul > li > a:hover, .sub-menu a:hover {
    color: #99bba9;
    font-weight: 500;
    scale: 1.05;
}
.menu > div > div > ul > li > a svg {
    fill: whitesmoke;
}
.menu > div > div > ul > li:hover > a svg:hover {
    fill: #99bba9;
}
@media all and (min-width: 750px) {
    .menu-wrapper {
        height: calc(28% - 100px);
    }
    .menu-wrapper .menu {
        display: block;
    }
    .menu-all {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu > div > div > ul > li, .menu > div > div > ul > li > a {
        display: inline-block;
    }
}
@media all and (min-width: 850px) {
    .menu-wrapper {
        height: calc(25% - 100px);
    }
}
@media all and (min-width: 900px) {
    .menu-wrapper {
        height: calc(20% - 100px);
    }
}
@media all and (min-width: 1000px) and (min-height: 1200px) {
    .menu-wrapper {
        width: 20vw;
        height: calc(50% - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu-wrapper .menu {
        height: 40vh;
    }
}
@media all and (min-width: 1000px) and (max-height: 1100px) {
    .menu-wrapper {
        width: 20vw;
        height: calc(80% - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu-wrapper .menu {
        height: 65vh;
    }
    .menu > div > div > ul > li, .menu > div > div > ul > li > a {
        display: block;
    }
}
/*----------- BACK TO TOP -----------*/
.cd-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    background: url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s,visibility .3s,background-color .3s;
}
.text-replace {
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: .75;
    background-color: #384459;
    border-radius: 5px;
    z-index: 10;
}
.cd-top--fade-out {
    opacity: .5;
}
/*----------- BARRE INDICATEUR SCROLL -----------*/
.scroll-indicator-container {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.scroll-indicator-bar {
    background: #557253;
    width: 0;
    height: 100%;
}